Client/xml-resources/web-service-references/UsuarioSB/wsdl/localhost_8080/UsuarioSB/UsuarioSB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.servicios.ort.edu.uy/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.servicios.ort.edu.uy/">

<xs:element name="alta" type="tns:alta"/>

<xs:element name="eliminar" type="tns:eliminar"/>

<xs:element name="modificar" type="tns:modificar"/>

<xs:complexType name="alta">
<xs:sequence>
<xs:element name="usuario" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="recetas" type="tns:receta" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="valoracion" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="receta">
<xs:sequence>
<xs:element name="cuarto" type="tns:ingrediente" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="principal" type="tns:ingrediente" minOccurs="0"/>
<xs:element name="procedimiento" type="xs:string" minOccurs="0"/>
<xs:element name="segundo" type="tns:ingrediente" minOccurs="0"/>
<xs:element name="tercero" type="tns:ingrediente" minOccurs="0"/>
<xs:element name="usuario" type="tns:usuario" minOccurs="0"/>
<xs:element name="valoracion" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingrediente">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificar">
<xs:sequence>
<xs:element name="usuario" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminar">
<xs:sequence>
<xs:element name="usuario" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>